<p>
<%=link_to 'New', new_note_path%>
</p>

<%= form_tag(notes_path,:method=>'get') do%>
  <%=search_field_tag(:word,params[:word])%>
  <%=submit_tag 'search'%>
<%end%>

<p>
<%=render 'category_links',:categories=>@categories%>
</p>

<div>
  <%@notes.each do |e|%>
    <%n,g = e %>
    <p>
    <%=render 'category_links',:categories=>n.categories%>
    <%=raw g%>
    </p>
    <%=link_to 'Edit', edit_note_path(n)%>
    </p>
  <%end%>
</div>

