<section id="search">
<%=render 'searches',:searches=>@searches,:name=>'word'%>
<%= form_tag(notes_path,:method=>'get',:class=>'form-search') do%>
  <%=search_field_tag(:word,params[:word],:class=>"input-medium search-query")%>
  <button type="submit" class="btn">Search</button>
  <span style="padding-left:30px;"><a href="/notes/new">New</a></span>
<%end%>
</section>
<div>
  <%=render 'searches',:searches=>@categories,:name=>'name'%>
</div>

<%@notes.each do |e|%>
  <hr>
  <%n,g = e %>
  <p>
  <%=render 'searches',:searches=>n.categories,:name=>'name'%>
  </p>
  <div>
  <%=raw g%>
  </div>
  <%=link_to 'Edit', edit_note_path(n)%>
<%end%>

