<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyNote</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header'%>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
